#terminal div {
    color: gray;
}

#terminal div.out {
    color: red;
}

#terminal div.in {
    color: blue;
}

.h1 {
  padding-bottom: 3px;
}

.container {
  background-color: #f1f1f1;
  padding-left: 5%;
  padding-right: 5%;
	border: 2px solid #f1f1f1;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 10px;
	color: #000000;
	font-family: sans-serif;
}

.round {
  display: block;
  position: absolute;
  height: 5%;
  width: 50%;
  padding: 1.5% 1.5%;
  margin-top: 0.1%;
  margin-right: 10%;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #ffffff;
  overflow: auto;
  text-align: left;
}

.pole {
  display: block;
  width: 50%;
  padding: 1.5% 2%;
  margin-bottom: 2%;
  margin-top: 10%;
  border-radius: 10px;
}

button[type=submit] {
  background-color: #f1f1f1;
  color: black;
  padding: 1.5% 2%;
  margin: 1% 0;
  cursor: pointer;
  width: 30%;
  border-radius: 10px;
}

.bconnect {
  display: block;
  background-color: #f1f1f1;
  color: black;
  padding: 1.5% 2%;
  margin-bottom: 2%;
  width: 30%;
  border-radius: 10px;
}

.bdisconnect {
  display: block;
  background-color: #f1f1f1;
  color: black;
  padding: 1.5% 2%;
  margin-bottom: 2%;
  width: 30%;
  border-radius: 10px;
}
